body{
	font-family: arial;
	width:100px;
	height:200px;
}

h1{
	font-size:16px;
	text-align:center;
}

h2{
	font-size:14px;
	text-align:center;
	color:#EEE;
	margin:5px;
}

* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

img{
	border: none;
}
