.syncpad-webnote {
    background-color: #fff046 !important;
    color: #006 !important;
    ''height: 200px;
    padding: 0px !important;
    margin: 0px !important;
    position: absolute !important;
    ''width: 150px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5) !important;
    font-family: arial, sans-serif !important;
    font-size: 14px !important;
}

.syncpad-webnote:hover .closebutton {
    display: block !important;
} 

.syncpad-webnote .closebutton {
    display: none !important;
    height: 30px !important;
    position: absolute !important;
    left: -15px !important;
    top: -15px !important;
    width: 30px !important;
}

.syncpad-webnote .edit {
    outline: none !important;
    text-align:left !important;
    font-size: 14px !important;
    font-family: arial, sans-serif !important;
    height:190px !important;
    overflow:auto !important;
    padding:10px !important;
    padding-bottom: 16px !important;
    background:transparent !important;
    margin: 0px !important;
    border: 0px !important;
}

.syncpad-webnote .timestamp {
    cursor: move !important;
    position: absolute !important;
    left: 15px !important;
    right: 0px !important;
    bottom: 0px !important;
    height: 16px !important;
    font-size: 9px !important;
    background-color: #db0 !important;
    color: white !important;
    /*border-top: 1px solid #a80;*/
    padding: 0px 4px !important;
    text-align: right !important;
    margin: 0px !important;    
}

.syncpad-webnote .syncicon {    
    cursor: move !important;
    position: absolute !important;
    left:0px !important;
    bottom:0px !important;
    height:16px !important;
    width:16px !important;
    background-color: #db0 !important;
    margin: 0px !important;
    padding: 0px !important;
}

.syncpad-webnote .edit::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
}

.syncpad-webnote .edit::-webkit-scrollbar-track-piece  {        
    background: #fff046 !important;
}

.syncpad-webnote .edit::-webkit-scrollbar-thumb {
    background: #db0 !important;
    border: 1px solid #999;
    -webkit-border-radius: 6px;
}